table {
    width: 100%;
    table-layout: fixed;
}

table td, table th {
    word-wrap: break-word;
}

@media screen and (min-width: 0px) and (max-width: 720px) {
    table {
        width: 1000px !important;
    }
}